# Fichiers sensibles
.env
.env.local
.env.production

# Dépendances
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers de build
dist/
build/

# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log

# Fichiers temporaires
*.tmp
*.temp
